@charset "UTF-8";


main h3 {
	text-align: center;
	padding: 20px;
	margin: 0px;
}

main table {
	width: 900px;
	height: 300px;
	margin: auto;
}

table td {
	padding: 10px;
	text-align: center;
}
